<div class="container">
  <form nz-form [formGroup]="loginForm" class="form" (ngSubmit)="login()">
    <h3>Log in</h3>
    <nz-form-item>
      <nz-form-control nzErrorTip="Email is missing or invalid">
        <nz-input-group nzPrefixIcon="user">
          <input nz-input type="email" placeholder="E-mail" [formControl]="email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Password should have at least 8 characters">
        <nz-input-group nzPrefixIcon="lock">
          <input nz-input type="password" placeholder="Password" [formControl]="password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <label nz-checkbox formControlName="remember">
      <span>Remember me</span>
    </label>
    <button nz-button [nzType]="'primary'">Log in</button>
    <a routerLink="/auth/register">Don't have an account? Register</a>
    <p *ngIf="showServerError" nz-typography nzType="danger">Login failed!</p>
  </form>
</div>

