[nz-form]{
    margin: 10vh;
    gap: 10px;
    padding: 20px;
  
    input {
      width: 300px;
      margin-right: 20px;
    }
  }
  
  .container {
    padding: 50px;
  }

  .ant-btn-primary{
    background-color: #4E546E;
    
  }  
  
  .ant-btn-primary:hover{
    background-color: #C0C0C0;
  }
  .ant-btn-primary:disabled{
    background-color: white;
  }